* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
}

header .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border: 1px solid rgb(210, 210, 210);
}
header .container #hearder_bottom {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}
header .container #hearder_bottom .card {
  width: 20%;
  height: 100px;
  margin-top: 50px;
  padding: 5px 5px;
  border-radius: 12px;
  background: #F0F0F0;
  color: black;
  box-shadow: 0px 10px 20px 10px rgb(182, 182, 182);
  transition: all 1s ease-in-out;
}
header .container #hearder_bottom .card:hover {
  color: red;
}
header .container .header_rasm {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  text-align: center;
}
header .container .header_rasm img {
  width: 100%;
}

main #section .container form {
  max-width: 100%;
  height: 50px;
  background: #F0F0F0;
  display: flex;
  align-items: center;
  gap: 20px;
}
main #section .container form p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: black;
  padding: 0 32px;
}
main #section .container form input {
  width: 60%;
  height: 38px;
  border: 1px solid #F0F0F0;
  padding: 0 10px;
  border-radius: 6px;
}
main #section .container form button {
  width: 10%;
  height: 38px;
  background: #FF7010;
  border: none;
  border-radius: 6px;
  color: white;
  transition: all 1s ease-in-out;
}
main #section .container form button:hover {
  background: white;
  color: #FF7010;
}
main #section .container #section_bottom {
  margin-top: 50px;
}
main #section .container #section_bottom h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: black;
  margin-bottom: 32px;
}
main #section .container #section_bottom .pizza_grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
main #section .container #section_bottom .pizza_grid .card {
  width: 23%;
  border-radius: 12px;
  border: 4px solid #F0F0F0;
  background: white;
}
main #section .container #section_bottom .pizza_grid .card img {
  width: 100%;
}
main #section .container #section_bottom .pizza_grid .card .badge {
  width: 62px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F0F0F0;
  background: red;
  position: relative;
  top: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
main #section .container #section_bottom .pizza_grid .card h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0 5px;
  color: black;
}
main #section .container #section_bottom .pizza_grid .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: black;
  padding: 14px 5px;
}
main #section .container #section_bottom .pizza_grid .card .counter-container {
  align-items: center;
  gap: 5px;
  display: flex;
  margin: 0 5px;
  margin-bottom: 10px;
}
main #section .container #section_bottom .pizza_grid .card .counter-container .card-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #section .container #section_bottom .pizza_grid .card .counter-container .card-footer button {
  width: 131px;
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #F0F0F0;
  background: #FF7010;
  border: none;
  border-radius: 6px;
  transition: all 1s ease-in-out;
}
main #section .container #section_bottom .pizza_grid .card .counter-container .card-footer button:hover {
  color: #FF7010;
  background: #F0F0F0;
}
main #section1 .container #sushi {
  margin-top: 50px;
}
main #section1 .container #sushi h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: black;
  margin-bottom: 32px;
}
main #section1 .container #sushi .sushi_grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
main #section1 .container #sushi .sushi_grid .card {
  width: 23%;
  border-radius: 12px;
  border: 4px solid #F0F0F0;
  background: white;
}
main #section1 .container #sushi .sushi_grid .card img {
  width: 100%;
}
main #section1 .container #sushi .sushi_grid .card .badge {
  width: 62px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F0F0F0;
  background: red;
  position: relative;
  top: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
main #section1 .container #sushi .sushi_grid .card h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0 5px;
  color: black;
}
main #section1 .container #sushi .sushi_grid .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: black;
  padding: 14px 5px;
}
main #section1 .container #sushi .sushi_grid .card .counter-container {
  align-items: center;
  gap: 5px;
  display: flex;
  margin: 0 5px;
  margin-bottom: 10px;
}
main #section1 .container #sushi .sushi_grid .card .counter-container .card-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #section1 .container #sushi .sushi_grid .card .counter-container .card-footer button {
  width: 131px;
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #F0F0F0;
  background: #FF7010;
  border: none;
  border-radius: 6px;
  transition: all 1s ease-in-out;
}
main #section1 .container #sushi .sushi_grid .card .counter-container .card-footer button:hover {
  color: #FF7010;
  background: #F0F0F0;
}
main #section2 .container #zakuski {
  margin-top: 50px;
}
main #section2 .container #zakuski h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: black;
  margin-bottom: 32px;
}
main #section2 .container #zakuski .zakuski_grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
main #section2 .container #zakuski .zakuski_grid .card {
  width: 23%;
  border-radius: 12px;
  border: 4px solid #F0F0F0;
  background: white;
}
main #section2 .container #zakuski .zakuski_grid .card img {
  width: 100%;
}
main #section2 .container #zakuski .zakuski_grid .card .badge {
  width: 62px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F0F0F0;
  background: red;
  position: relative;
  top: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
main #section2 .container #zakuski .zakuski_grid .card h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0 5px;
  color: black;
}
main #section2 .container #zakuski .zakuski_grid .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: black;
  padding: 14px 5px;
}
main #section2 .container #zakuski .zakuski_grid .card .counter-container {
  align-items: center;
  gap: 5px;
  display: flex;
  margin: 0 5px;
  margin-bottom: 10px;
}
main #section2 .container #zakuski .zakuski_grid .card .counter-container .card-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #section2 .container #zakuski .zakuski_grid .card .counter-container .card-footer button {
  width: 131px;
  height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #F0F0F0;
  background: #FF7010;
  border: none;
  border-radius: 6px;
  transition: all 1s ease-in-out;
}
main #section2 .container #zakuski .zakuski_grid .card .counter-container .card-footer button:hover {
  color: #FF7010;
  background: #F0F0F0;
}/*# sourceMappingURL=style.css.map */